.te-editor *, pre *{
    font-family: 'Source Code Pro', monospace !important;
}

textarea, input, .te-mode-switch * {
    font-family: 'Mali', cursive !important;
}

.chips input {
    width: 100% !important;
}

.create-btn {
    margin: 30px 5px 5px !important;
}